# Laptop on Intel Core 12 gen (Alder Lake), discrete NVIDIA (open nouveau driver) (all vendor EC/WMI and modem drivers included as modules).
# score=140 (popularity priority within top-999999)
cpu/intel-alderlake
gpu/nouveau
platform/laptop
ec/all
modem/all
