# Server on Intel Core 11 gen desktop (Rocket Lake), integrated Intel (i915) (all vendor EC/WMI and modem drivers included as modules).
# score=108 (popularity priority within top-999999)
cpu/intel-rocketlake
gpu/intel
platform/server
ec/all
modem/all
