# Server on any x86-64-v3 CPU (safe fallback), discrete NVIDIA (open nouveau driver) (all vendor EC/WMI and modem drivers included as modules).
# score=24 (popularity priority within top-999999)
cpu/generic-x86-64-v3
gpu/nouveau
platform/server
ec/all
modem/all
