# Server on Intel Core 12 gen (Alder Lake), AMD (iGPU/APU or discrete, amdgpu) (all vendor EC/WMI and modem drivers included as modules).
# score=168 (popularity priority within top-999999)
cpu/intel-alderlake
gpu/amd
platform/server
ec/all
modem/all
