# Server on Intel Core 6-10 gen (Skylake/Kaby/Coffee/Comet Lake), discrete NVIDIA (open nouveau driver) (all vendor EC/WMI and modem drivers included as modules).
# score=36 (popularity priority within top-999999)
cpu/intel-skylake
gpu/nouveau
platform/server
ec/all
modem/all
